.code {
    font-size: 12px;
    background-color: #EFEFEF;
    border-radius: 3px;
    padding: 12px;
    overflow-x: scroll;
}

.container {
    padding: 0;
}


textarea {
    font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
    font-size: 12px !important;
}
