file_cache
statistics_cache
searchrefiner
plugin_storage
data
*.db

.idea/
config.json

*.so
server
*.xml
*.model
logs/
sincedb*

plugin/
_site/
document_frequency/None/
objective_qf/params/None/
top_subheadings/None/
None/
statistics/None/