{{ define "bigbro" }}
<script type="text/javascript" src="/static/bigbro.js"></script>
<script type="text/javascript">
    let bb;
    let request = new XMLHttpRequest();
    request.addEventListener("load", function (ev) {
        let events = ["click", "dblclick", "submit", "cut", "copy", "paste", "select"];
        if (ev.currentTarget.status !== 200) {
            bb = BigBro.init("anonymous", window.location.hostname + ":1984", events);
        } else {
            bb = BigBro.init(ev.target.responseText, window.location.hostname + ":1984", events);
        }
        bb.log(ev, "bigbroinit")
    });
    request.open("GET", "/api/username", true);
    request.send();
</script>
{{end}}