{{ define "bigbro" }}
<script type="text/javascript" src="/static/bigbro.js"></script>
<script type="text/javascript">
    let bb;
    let request = new XMLHttpRequest();
    request.addEventListener("load", function (ev) {
        if (ev.currentTarget.status !== 200) {
            bb = BigBro.init("anonymous", window.location.hostname + ":1984");
        } else {
            bb = BigBro.init(ev.target.responseText, window.location.hostname + ":1984");
        }
    });
    request.open("GET", "/api/username", true);
    request.send();
</script>
{{end}}