{{define "authentication_header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CiteMed Authentication</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
</head>
<body>
<div class="container" style="padding-top: 15vh">
<div class="panel" style="max-width: 480px; margin: auto">
    <div class="panel-header text-center">
        <figure class="avatar avatar-lg">
            <img src="/static/favicon.png">
        </figure>
        <div class="h5 mt-2">CiteMed</div>
    </div>
{{end}}

{{define "authentication_footer"}}
    <div class="panel-footer">

    </div>
</div>
</div>
</body>
</html>
{{end}}