{{define "authentication_header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searchrefiner Authentication</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
    <link rel="stylesheet" href="/static/account.css" type="text/css">
</head>
<body>
<div class="container" style="padding-top: 4vh">
<div class="panel" style="max-width: 640px; margin: auto">
    <div class="panel-header">
        <div class="h2 mt-2 text-center">Study of Query Formulation for Systematic Review Creation</div>
        <hr>
        <p>Welcome! This website is currently being used to host an online user study about developing searches for systematic reviews.</p>
        <p>If this sounds interesting to you, please fill out the <a href="https://forms.gle/7XhSy2h2sQPVB4Ct8">participant sign-up sheet</a>.</p>
        <p>Already signed up? Please make an account below. You will receive further details at your nominated e-mail address once you have signed-up.</p>
        <p>Ready to start or returning to continue the study? Please log-in using the form provided below.</p>
    </div>
{{end}}

{{define "authentication_footer"}}
    <div class="panel-footer">
        <p>Are you looking for searchrefiner? Please temporarily use <a href="https://ielab-sysrev2.uqcloud.net">this link</a>.</p>
    </div>
</div>
</div>
</body>
</html>
{{end}}