{{define "sidebar"}}
<section class="navbar-section">
    <a class="off-canvas-toggle btn btn-link" href="#sidebar">
        <i class="icon icon-menu"></i> searchrefiner
    </a>
    <div class="off-canvas">
        <ul class="menu off-canvas-sidebar text-center" id="sidebar">
            <li class="menu-item">
                <div class="tile tile-centered">
                    <div class="tile-icon"><img src="static/favicon.png" class="avatar" width="32px"></div>
                    <div class="tile-content">searchrefiner</div>
                </div>
            </li>
            <li class="divider"></li>
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item"><a href="/tree">QueryVis</a></li>
            <li class="menu-item"><a href="/transform">Transform</a></li>
            <li class="menu-item"><a href="/settings">Settings</a></li>
        </ul>
        <a class="off-canvas-overlay" href="#close"></a>
    </div>
</section>
{{end}}