{{define "version"}}
    25.Aug.2020
{{end}}

{{define "footer"}}
    <footer class="pt-2">
        searchrefiner | version {{template "version"}} |
        <a href="https://ielab.io/searchrefiner/">about</a> |
        <a href="https://github.com/ielab/searchrefiner/issues">issues</a>
    </footer>
{{end}}

{{define "style_includes"}}
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
{{end}}

{{ define "stylish_footer" }}
    <div class="hero-lg bg-primary  " style="width: 100%;position:fixed;bottom: 0;padding: 1%;z-index: 10000">
        {{template "footer"}}
    </div>
{{ end }}


{{ define "send_query" }}
    {{ $query := .QueryString }}
    {{ $lang := .Language }}
    {{ $title := .PluginTitle }}
    {{ range $plugin := .Plugins }}
        {{ if $plugin.AcceptsQueryPosts }}
            {{ if ne $title $plugin.Title }}
                <form action="/{{ $plugin.URL }}" method="post">
                    <input type="hidden" name="query" v-bind:value="textQuery" value="{{ $query }}">
                    <input type="hidden" name="lang" value="{{ $lang }}">
                    <button class="btn btn-link">{{ $plugin.Title }} <i class="icon icon-arrow-right"></i></button>
                </form>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if ne .PluginTitle "Results" }}
        <form action="/results" method="post">
            <input type="hidden" name="query" v-bind:value="textQuery" value="{{ $query }}">
            <input type="hidden" name="lang" value="{{ $lang }}">
            <button class="btn btn-link">Search Results <i class="icon icon-arrow-right"></i></button>
        </form>
    {{ end }}
    {{ if eq .PluginTitle "Results" }}
        <form action="https://pubmed.ncbi.nlm.nih.gov/" method="get">
            <input type="hidden" name="term" v-bind:value="textQuery" value="{{ $query }}">
            <button class="btn btn-link">PubMed (external tool) <i class="icon icon-arrow-right"></i></button>
        </form>
    {{ end }}
    <button class="btn btn-link" v-on:click="sendToPolyglot()" onclick="sendToPolyglot()">Polyglot (external tool)<i class="icon icon-arrow-right"></i></button>
    <script>
        sendToPolyglot = function () {
            var request = new XMLHttpRequest();
            request.addEventListener("load", function (ev) {
                if (ev.currentTarget.status === 200) {
                    window.open("https://sr-accelerator.com/#/polyglot?token=" + ev.target.responseText, target = "_blank");
                }
            });
            request.open("POST", "https://ielab-sysrev3.uqcloud.net/exchange", true);
            request.setRequestHeader('Content-Type', 'application/json');
            request.send(JSON.stringify({data: {query: {{ $query }}}, referrer: "searchrefiner"}));
        }
    </script>
{{ end }}