{{define "version"}}
    09.August.2019
{{end}}

{{define "footer"}}
    <footer class="pt-2">
        searchrefiner version {{template "version"}} |
        <a href="https://ielab.io/searchrefiner/">about</a> |
        <a href="/help">help</a> |
        <a href="https://github.com/ielab/searchrefiner/issues">issues</a> |
        <a href="https://ielab.io/searchrefiner/changelog">changelog</a>
    </footer>
{{end}}

{{define "style_includes"}}
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
{{end}}