{{define "version"}}
    30.June.2020
{{end}}

{{define "footer"}}
    <footer class="pt-2">
        searchrefiner | version {{template "version"}} |
        <a href="https://ielab.io/searchrefiner/">about</a> |
        <a href="https://github.com/ielab/searchrefiner/issues">issues</a>
    </footer>
{{end}}

{{define "style_includes"}}
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
{{end}}

{{ define "stylish_footer" }}
    <div class="hero-lg bg-primary  " style="width: 100%;position:fixed;bottom: 0;padding: 1%;z-index: 10000">
        {{template "footer"}}
    </div>
{{ end }}