---
---


main {
    max-width: 960px;
    margin: 32px auto;
}

#menu-toggle-label {
    display: none;
}

@media only screen and (max-width: 960px) {
    main {
        margin: -12px;
        padding: 32px;
    }
    aside > * {
        display: inline;
        vertical-align: top;
    }
    #menu-toggle-label {
        display: block;
        float: right;
    }
    #menu-toggle {
        display: none;
    }
    #menu-toggle:checked + #menu {
        max-height: 500px;
    }
    #menu {
        overflow: hidden;
        max-height: 0;
        padding: 0;
        margin: 0 auto;
        -webkit-transition: all 0.3s ease;
    }
}