<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>searchrefiner</title>
    <link rel="icon" href="static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="static/searchrefiner.css" type="text/css">
    <style>
        .container {
            padding: 32px;
            /*background: url("static/searchrefiner.png") no-repeat fixed bottom right;*/
            background-size: 50%;
        }

        body {
            margin-bottom: 8%;
        }

        .card {
            box-shadow: 0 .05rem .2rem rgba(48, 55, 66, .3);
            border: 0;
            transform: translateY(.2rem);
        }
    </style>
</head>
<body>
<div class="container">
    {{ template "announcement-toast" }}
    <h1><img src="static/favicon.png" width="24px" height="24px" alt="logo">&nbsp<b>searchrefiner</b></h1>
    <div class="columns pt-2">
        <div class="column col-6">
            <div class="card">
                <div class="card-header">
                    <div class="divider" data-content="SEARCH"></div>
                </div>
                <div class="card-body">
                    <form action="/query" method="post" accept-charset="UTF-8">
                        <div class="form-group">
                            <textarea name="query" class="form-input" id="search-box" placeholder="Enter query here." rows="16" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Query Language <small>All queries are executed on PubMed regardless of language.</small>
                                <select class="form-select" name="lang">
                                    <option value="pubmed">PubMed</option>
                                    <option value="medline">Ovid MEDLINE</option>
                                    <option disabled>Cochrane Library</option>
                                    <option disabled>EMBASE</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" id="search-submit"/>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div>
                        {{ if .Queries  }}
                            <h3>Previous Queries</h3>
                            {{ range .Queries }}
                                <div class="columns">
                                    <div class="column col-10">
                                        <form action="/query" method="post" accept-charset="UTF-8">
                                            <input type="hidden" name="query" value="{{ .QueryString }}">
                                            <input type="hidden" name="lang" value="{{ .Language }}">
                                            <div>
                                                <pre class="code" data-lang="{{ .Language }}">{{ .QueryString }}</pre>
                                                <div class="form-group">
                                                    <input class="btn btn-primary" type="submit" value="Resubmit"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="column col-2">
                                        <form action="/results" method="post">
                                            <div class="ml-2 mt-2">
                                                <small><b>{{ .NumRet }}</b> results</small>
                                            </div>
                                            <input type="hidden" name="query" value="{{ .QueryString }}">
                                            <input type="hidden" name="lang" value="{{ .Language }}">
                                            <input class="btn btn-link btn-sm" type="submit" value="Explore Results">
                                        </form>
                                    </div>
                                </div>
                            {{ end }}
                            <a href="/clear" class="btn btn-link">Clear</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-4">
            <div class="card">
                <div class="card-header">
                    <div class="divider" data-content="SEED PMIDs"></div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="form-group">
                            <!-- @formatter:off -->
                            <textarea class="form-input" id="rel" name="rel" rows="3"
                              placeholder="Enter your seed PMIDs here, each one should be on a new line.">{{ range .Relevant }}{{ . }}
{{ end }}</textarea>
                            <!-- @formatter:on -->
                        </div>
                        <div class="form-group">
                            <button id="btn-rel" class="btn btn-primary form-input">Load</button>
                        </div>
                    </div>
                    {{ if not .Relevant }}
                        <small><span class="text-error">No seed PMIDs have been loaded.</span></small>
                    {{ else }}
                        <small><span class="text-success">Loaded {{ len .Relevant }} Relevant seed PMIDs.</span></small>
                    {{ end }}
                </div>
            </div>
            <div class="divider"></div>
            <ul class="menu">
                <li class="divider" data-content="AUTOMATION TOOLS"></li>
                {{ if .Plugins }}
                    {{ range .Plugins }}
                        <li class="menu-item"><a href="{{ .URL }}">{{ .Title }}</a>
                            <small>{{ .Description }}</small>
                        </li>
                    {{ end }}
                {{ else }}
                    <p>There are no plugins installed.</p>
                {{end}}
                <li class="divider" data-content="ACCOUNT"></li>
                <li class="menu-item"><a href="/account/api/logout">Logout</a>
                    <small>Logout from searchrefiner.</small>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("search-submit").addEventListener("click", function (e) {
            bb.log(e, "searchsubmit", document.getElementById("search-box").value)
        })
    </script>
</div>
{{ template "stylish_footer" }}
</body>
<script type="text/javascript">
    let rel = document.getElementById("rel");
    let relBtn = document.getElementById("btn-rel");
    relBtn.addEventListener("click", function () {
        let v = rel.value.split("\n");
        let d = [];
        for (let i = 0; i < v.length; i++) {
            if (v[i].length === 0) {
                continue
            }
            let val = parseInt(v[i]);
            if (isNaN(val)) {
                alert("PMIDs must be numbers!");
                return
            }
            d.push(val)
        }
        let request = new XMLHttpRequest();
        request.addEventListener("load", function () {
            window.location.reload();
        });
        request.open("POST", "/api/settings/relevant");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify(d));
    })
</script>
</html>