<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>searchrefiner</title>
    <link rel="icon" href="static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="static/searchrefiner.css" type="text/css">
    <style>
        body {
            padding: 32px;
            background: url("static/searchrefiner.png") no-repeat fixed bottom right;
            background-size: 50%;
        }

        .card {
            box-shadow: 0 .05rem .2rem rgba(48, 55, 66, .3);
            border: 0;
            transform: translateY(.2rem);
        }
    </style>
</head>
<body>
{{template "bigbro"}}
<div class="container">
    <h1><img src="static/favicon.png" width="24px" height="24px" alt="logo">&nbsp<b>searchrefiner</b></h1>
    <div class="columns pt-2">
        <div class="column col-6">
            <div class="card">
                <div class="card-header"><div class="divider" data-content="SEARCH"></div></div>
                <div class="card-body">
                    <form action="/query" method="post" accept-charset="UTF-8">
                        <div class="form-group">
                    <textarea name="query" class="form-input" id="search-box" placeholder="Enter query here."
                              rows="16" required></textarea>

                        </div>
                        <div class="form-group">
                            <label>Query Language
                                <small><a href="/help#WritingQueries">help?</a></small>
                                <select class="form-select" name="lang">
                                    <option value="pubmed">PubMed</option>
                                    <option value="medline">Ovid MEDLINE</option>
                                    <option disabled>Cochrane Library</option>
                                    <option disabled>EMBASE</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" id="search-submit"/>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div>
                        {{ if .Queries  }}
                            <h3>Previous Queries</h3>
                            {{ range .Queries }}
                                <div class="columns">
                                    <div class="column col-10">
                                        <form action="/query" method="post" accept-charset="UTF-8">
                                            <input type="hidden" name="query" value="{{ .QueryString }}">
                                            <input type="hidden" name="lang" value="{{ .Language }}">
                                            <div>
                                                <pre class="code" data-lang="{{ .Language }}">{{ .QueryString }}</pre>
                                                <div class="form-group">
                                                    <input class="btn btn-primary" type="submit" value="Resubmit"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="column col-2">
                                        <form action="/results" method="post">
                                            <div class="ml-2 mt-2">
                                                <small><b>{{ .NumRet }}</b> results</small>
                                            </div>
                                            <input type="hidden" name="query" value="{{ .QueryString }}">
                                            <input type="hidden" name="lang" value="{{ .Language }}">
                                            <input class="btn btn-link btn-sm" type="submit" value="Explore Results">
                                        </form>
                                    </div>
                                </div>
                            {{ end }}
                            <a href="/clear" class="btn btn-link">Clear</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-4">
            <ul class="menu">
                <li class="divider" data-content="PLUGINS"></li>
                {{ if .Plugins }}
                    {{ range .Plugins }}
                        <li class="menu-item"><a href="{{ .URL }}">{{ .Title }}</a>
                            <small>{{ .Description }}</small>
                        </li>
                    {{ end }}
                {{ else }}
                    <p>There are no plugins installed.</p>
                {{end}}
                <li class="divider" data-content="TOOLS"></li>
                <li class="menu-item"><a href="/settings">Settings</a>
                    <small>Configure known relevant documents and other aspects of searchrefiner.</small>
                </li>
                <li class="menu-item"><a href="/plugins">Plugins</a>
                    <small>View details of all installed plugins.</small>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("search-submit").addEventListener("click", function (e) {
            bb.log(e, "searchsubmit", document.getElementById("search-box").value)
        })
    </script>
    {{template "footer"}}
</div>
</body>
</html>