<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CiteMed - Search Results</title>
    <link rel="icon" href="static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="static/citemed.css" type="text/css">
    <style>
        body {
            background: none;
        }
    </style>
</head>
<body>
<div class="container mt-2">
    <div class="columns">
        <div class="column col-1"></div>
        <div class="column col-2">
            <ul class="nav fixed">
                <li><h1>CiteMed</h1></li>
                <li class="nav-item active">
                    <a href="/">Back</a>
                </li>
                <li class="nav-item">
                    <a href="#results">Results</a>
                    <ul class="nav">
                    {{ range .Documents }}
                        <li class="nav-item">
                            <a href="#{{ .Id }}">{{ .Id }}</a>
                        </li>
                    {{ end }}
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#queries">Queries</a>
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#original">Original</a>
                        </li>
                        <li class="nav-item">
                            <a href="#elasticsearch">Elasticsearch</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="column col-8">
            <form action="/query" method="post" accept-charset="UTF-8">
                <div class="form-group">
                    <textarea name="query" id="query" class="form-input" id="search-box" placeholder="Enter query here."
                              rows="20" required>{{ .OriginalQuery }}</textarea>
                    <small><em>Queries use a language similar to that of MEDLINE.</em></small>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit"/>
                    <button class="btn btn-link" id="edit" type="button">Edit <i class="icon icon-arrow-right"></i></button>

                </div>
            </form>
            <h1 id="results">Results</h1>
            <p><b>{{ .TotalHits }}</b> results in {{ .TookInMillis }}ms</p>
            <small><em>Showing only {{ len .Documents }} results.</em></small>
        {{ range .Documents }}
            <div id="{{ .Id }}">
                <h3><span class="label"><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{.Id}}/"
                                           target="_blank">{{ .Id }}</a></span> {{ .Title }}</h3>
                <p>{{ .Text }}</p>
            </div>
        {{end}}
            <h1 id="queries">Queries</h1>
            <pre id="original" class="code" data-lang="Original">{{ .OriginalQuery }}</pre>
            <pre id="elasticsearch" class="code" data-lang="Elasticsearch">{{ .ElasticsearchQuery }}</pre>
        </div>
        <div class="column col-1"></div>
    </div>
</div>
<script>

    var editEl = document.getElementById("edit");
    var searchEl = document.getElementById("query");

    editEl.addEventListener("click", function () {
        openWindowWithPost("/transform", searchEl.value)
    });

    function openWindowWithPost(url, data) {
        var form = document.createElement("form");
        form.target = "_blank";
        form.method = "POST";
        form.action = url;
        form.style.display = "none";

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "query";
        input.value = data;
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    }
</script>
</body>
</html>