<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searchrefiner - Search Results</title>
    <link rel="stylesheet" href="/static/jquery.highlight-within-textarea.css"/>
    {{template "style_includes"}}
    <style>
        .bracket {
            background-color: #ccc9ff;
            border-bottom: 1px solid black;
        }

        .operator {
            background-color: #fbffe1;
        }

        .fields {
            background-color: #e6ffef;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="navbar bg-secondary nav-height mb-2">
        <section class="navbar-section">
            {{template "sidebar"}}
        </section>
    </header>
    <div class="columns mt-2">
        <div class="column col-1"></div>
        <div class="column col-10">
            <div class="columns">
                <div class="column col-6">
                    <h3>Query Analysis</h3>
                    <form action="/query" method="post" accept-charset="UTF-8">
                        <div class="form-group">
                            <textarea name="query" id="query" class="form-input" placeholder="Enter query here." rows="10" required>{{ .QueryString }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Query Language
                                <small><a href="/help#WritingQueries">help?</a></small>
                                <select id="lang" class="form-select" name="lang">
                                    <option value="medline" {{if eq .Language "medline"}} selected {{end}}>Ovid MEDLINE
                                    </option>
                                    <option value="pubmed" {{if eq .Language "pubmed"}} selected {{end}}>PubMed</option>
                                    <option disabled>Cochrane Library</option>
                                    <option disabled>EMBASE</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" id="search-submit" type="submit" value="Execute"/>
                            <button class="btn btn-link" id="vis" type="button">
                                QueryVis <i class="icon icon-arrow-right"></i>
                            </button>
                            <button class="btn btn-link" id="results" type="button">
                                Results <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="divider-vert"></div>
                <div class="column col-5">
                    <h4>Statistics</h4>
                    <ul>
                        <li><b>{{ .TotalHits }}</b> results.</li>
                        <li><b>{{ .RelRet }}</b> seed studies retrieved.</li>
                        <li><b>{{ .BooleanClauses }}</b> clauses.</li>
                        <li><b>{{ .BooleanKeywords }}</b> keywords.</li>
                        <li><b>{{ .MeshKeywords }}</b> MeSH Term keywords.</li>
                    </ul>
                    <h4>Send this query to...</h4>
                    {{ template "send_query" .}}
                </div>
            </div>
            <div class="divider"></div>
            {{ if .PreviousQueries  }}
                <div class="accordion">
                    <input type="checkbox" id="r1" name="c1" hidden title="">
                    <label class="accordion-header text-bold bg-secondary" for="r1">
                        Previous Queries
                    </label>
                    <div class="accordion-body">
                        {{ range .PreviousQueries }}
                            <div class="columns">
                                <div class="column col-9">
                                    <form action="/query" method="post" accept-charset="UTF-8">
                                        <input type="hidden" name="query" value="{{ .QueryString }}">
                                        <input type="hidden" name="lang" value="{{ .Language }}">
                                        <div>
                                            <pre class="code" data-lang="{{ .Language }}">{{ .QueryString }}</pre>
                                            <div class="form-group">
                                                <input class="btn btn-primary" type="submit" value="Resubmit"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <div class="column col-5">
                                        <div class="ml-2 mt-2">
                                            <small><b>{{ .NumRet }}</b> results retrieved.</small>
                                        </div>
                                        <form action="/results" method="post">
                                            <input type="hidden" name="query" value="{{ .QueryString }}">
                                            <input type="hidden" name="lang" value="{{ .Language }}">
                                            <input class="btn btn-link btn-sm" type="submit" value="Explore Results">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                        <a href="/clear" class="btn btn-link">Clear</a>
                    </div>
                </div>
            {{ end }}
            <div class="accordion">
                <input type="checkbox" id="r2" name="c2" hidden title="">
                <label class="accordion-header text-bold bg-secondary" for="r2">
                    Query Analysis
                </label>
                <div class="accordion-body">
                    <pre id="original" class="code" data-lang="Original">{{ .QueryString }}</pre>
                    <pre id="transformed" class="code" data-lang="Transformed">{{ .TransformedQuery }}</pre>
                </div>
            </div>
            {{template "footer"}}
            <br>
        </div>
        <div class="column col-1"></div>
    </div>
</div>
<script src="/static/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/static/jquery.highlight-within-textarea.js" type="text/javascript"></script>
<script>

    let editEl = document.getElementById("edit");
    let visEl = document.getElementById("vis");
    let resultsEl = document.getElementById("results");
    let searchEl = document.getElementById("query");
    let langEl = document.getElementById("lang");

    visEl.addEventListener("click", function () {
        let form = document.createElement("form");
        form.target = "_self";
        form.method = "POST";
        form.action = "/plugin/queryvis";
        form.style.display = "none";

        let queryInput = document.createElement("input");
        queryInput.type = "hidden";
        queryInput.name = "query";
        queryInput.value = searchEl.value;
        form.appendChild(queryInput);

        let langInput = document.createElement("input");
        langInput.type = "hidden";
        langInput.name = "lang";
        langInput.value = langEl.value;
        form.appendChild(langInput);

        document.body.appendChild(form);
        form.submit();
    });

    resultsEl.addEventListener("click", function () {
        let form = document.createElement("form");
        form.target = "_self";
        form.method = "POST";
        form.action = "/results";
        form.style.display = "none";

        let queryInput = document.createElement("input");
        queryInput.type = "hidden";
        queryInput.name = "query";
        queryInput.value = searchEl.value;
        form.appendChild(queryInput);

        let langInput = document.createElement("input");
        langInput.type = "hidden";
        langInput.name = "lang";
        langInput.value = langEl.value;
        form.appendChild(langInput);

        document.body.appendChild(form);
        form.submit();
    });


    editEl.addEventListener("click", function () {
        openWindowWithPost("/transform", searchEl.value)
    });

    function openWindowWithPost(url, data) {
        let form = document.createElement("form");
        form.target = "_self";
        form.method = "POST";
        form.action = url;
        form.style.display = "none";

        let input = document.createElement("input");
        input.type = "hidden";
        input.name = "query";
        input.value = data;
        form.appendChild(input);

        let langInput = document.createElement("input");
        langInput.type = "hidden";
        langInput.name = "lang";
        langInput.value = langEl.value;
        form.appendChild(langInput);
        form.appendChild(langInput);

        document.body.appendChild(form);
        form.submit();
    }
</script>
{{- if eq .Language "pubmed" -}}
    <script>
        $("#query").highlightWithinTextarea({
                highlight: [
                    {
                        highlight: /\(|\)/g,
                        className: 'bracket'
                    },
                    {
                        highlight: /AND|OR|NOT/g,
                        className: 'operator'
                    },
                    {
                        highlight: /\[[a-zA-Z /]+\]/ig,
                        className: 'fields'
                    }
                ]
            }
        )
    </script>
{{- end -}}
<script type="text/javascript">
    document.getElementById("search-submit").addEventListener("click", function (e) {
        bb.log(e, "searchrefine", document.getElementById("query").value)
    })
</script>
</body>
</html>