<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CiteMed - Search Results</title>
    <link rel="icon" href="static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="static/citemed.css" type="text/css">
</head>
<body>
<div class="container">
    <header class="navbar bg-secondary nav-height mb-2">
        <section class="navbar-section">
        {{template "sidebar"}}
        </section>
        <section class="navbar-section">
        </section>
    </header>
    <div class="columns">
        <div class="column col-1"></div>
        <div class="column col-10">
            <div class="columns">
                <div class="column col-6">
                    <h3>Reformulate Query</h3>
                    <form action="/query" method="post" accept-charset="UTF-8">
                        <div class="form-group">
                    <textarea name="query" id="query" class="form-input" id="search-box" placeholder="Enter query here."
                              rows="20" required>{{ .OriginalQuery }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Query Language
                                <small><a href="/help#WritingQueries">help?</a></small>
                                <select id="lang" class="form-select" name="lang">
                                    <option value="medline" {{if eq .Language "medline"}} selected {{end}}>MEDLINE</option>
                                    <option value="pubmed" {{if eq .Language "pubmed"}} selected {{end}}>PubMed</option>
                                    <option disabled>Cochrane Library</option>
                                    <option disabled>EMBASE</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit"/>
                            <button class="btn btn-link" id="vis" type="button">
                                QueryVis <i class="icon icon-arrow-right"></i>
                            </button>
                            <button class="btn btn-link" id="edit" type="button">
                                Edit <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="divider-vert"></div>
                <div class="column col-5">
                    <h3>Results</h3>
                    <ul>
                        <li><b>{{ .TotalHits }}</b> results</li>
                    </ul>
                    <p>
                        <small>completed in {{ .TookInMillis }}ms</small>
                    </p>
                    <button class="btn btn-link" id="results" type="button">
                        Explore Results <i class="icon icon-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div>
            {{ if .PreviousQueries  }}
                <div class="divider"></div>
                <h3>Previous Queries</h3>
            {{ range .PreviousQueries }}
                <form action="/query" method="post" accept-charset="UTF-8">
                    <input type="hidden" name="query" value="{{ .QueryString }}">
                    <div>
                        <pre class="code" data-lang="{{ .Language }}">{{ .QueryString }}</pre>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Resubmit"/>
                        </div>
                    </div>
                </form>
            {{ end }}
                <a href="/clear" class="btn btn-link">Clear</a>
            {{ end }}
            </div>
            <div class="divider"></div>
            <h3 id="queries">Queries</h3>
            <pre id="original" class="code" data-lang="Original">{{ .OriginalQuery }}</pre>
            <pre id="elasticsearch" class="code" data-lang="Elasticsearch">{{ .ElasticsearchQuery }}</pre>
        </div>
        <div class="column col-1"></div>
    </div>
</div>
<script>

    var editEl = document.getElementById("edit");
    var visEl = document.getElementById("vis");
    var resultsEl = document.getElementById("results");
    var searchEl = document.getElementById("query");
    var langEl = document.getElementById("lang");

    visEl.addEventListener("click", function () {
        var form = document.createElement("form");
        form.target = "_self";
        form.method = "POST";
        form.action = "/tree";
        form.style.display = "none";

        var queryInput = document.createElement("input");
        queryInput.type = "hidden";
        queryInput.name = "query";
        queryInput.value = searchEl.value;
        form.appendChild(queryInput);

        var langInput = document.createElement("input");
        langInput.type = "hidden";
        langInput.name = "lang";
        langInput.value = langEl.value;
        form.appendChild(langInput);

        document.body.appendChild(form);
        form.submit();
    });

    resultsEl.addEventListener("click", function () {
        var form = document.createElement("form");
        form.target = "_self";
        form.method = "POST";
        form.action = "/results";
        form.style.display = "none";

        var queryInput = document.createElement("input");
        queryInput.type = "hidden";
        queryInput.name = "query";
        queryInput.value = searchEl.value;
        form.appendChild(queryInput);

        var langInput = document.createElement("input");
        langInput.type = "hidden";
        langInput.name = "lang";
        langInput.value = langEl.value;
        form.appendChild(langInput);

        document.body.appendChild(form);
        form.submit();
    });


    editEl.addEventListener("click", function () {
        openWindowWithPost("/transform", searchEl.value)
    });

    function openWindowWithPost(url, data) {
        var form = document.createElement("form");
        form.target = "_self";
        form.method = "POST";
        form.action = url;
        form.style.display = "none";

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "query";
        input.value = data;
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>