<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CiteMed - QueryVis</title>
    <link rel="icon" href="static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="static/vis.min.css" type="text/css">
    <link rel="stylesheet" href="static/vue-multiselect.min.css" type="text/css">
    <link rel="stylesheet" href="static/logtail.css" type="text/css">
    <link rel="stylesheet" href="static/citemed.css" type="text/css">
    <style>
        body, html, .container {
            height: 100%;
            max-height: 100%;
            overflow: hidden;
        }

        #tree {
            height: 100%;
        }

        .columns {
            height: calc(100%);
        }

        #tree-wrapper {
            background-color: #f9f9f9;
            height: 100%;
        }

        textarea {
            padding: 0;
            margin: 0;
        }

        .tab-block {
            margin: 0;
        }

        .panel-header, .panel-body, .panel-footer {
            padding: 0 !important;
        }

        .panel {
            padding-left: 12px !important;
        }

        .venntooltip {
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            width: 128px;
            height: 24px;
            background: #333;
            color: #ddd;
            padding: 2px;
            border: 0;
            border-radius: 8px;
            opacity: 0;
        }

        #console {
            margin: 0;
            overflow-y: scroll;
            height: 100%;
            background-color: #1c1c1c;
            color: #f9f9f9;
            font-size: 12px;
        }

        #tree-stats {
            position: absolute;
            top: 100px;
            right: 32px;
            background-color: #ffffff;
            padding: 8px;
            z-index: 99999999999;
            border: 1px solid #1c1c1c;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <header class="navbar bg-secondary nav-height">
    {{template "sidebar"}}
        <section class="navbar-section">
            <button class="btn btn-link btn-sm text-error nav-height" v-on:click="updateTree">
                <i class="icon icon-refresh"></i> Update Tree
            </button>
            <button class="btn btn-link btn-sm text-error nav-height">
                <i class="icon icon-refresh"></i> Update Overlap
            </button>
        </section>
    </header>
    <div class="columns">
        <div class="column col-4">
            <ul class="tab tab-block bg-gray">
                <li class="tab-item addon-sm" v-bind:class="{active: tabEditor===0}" v-on:click="tabEditor=0">
                    <a href="#">Text Editor</a>
                </li>
                <li class="tab-item addon-sm" v-bind:class="{active: tabEditor===1}" v-on:click="tabEditor=1">
                    <a href="#">Structured Editor</a>
                </li>
            </ul>
            <div v-if="tabEditor===0">
                <div class="form-group">
                    <textarea name="query" class="form-input" id="search-box" placeholder="Enter query here."
                              rows="20" required v-model="textQuery" v-on:change="updateText"></textarea>
                    <div class="form-group">
                        <label>Query Language
                            <small><a href="/help#WritingQueries">help?</a></small>
                            <select id="lang" class="form-select" name="lang">
                                <option value="medline" {{if eq .Language "medline"}} selected {{end}}>MEDLINE</option>
                                <option value="pubmed" {{if eq .Language "pubmed"}} selected {{end}}>PubMed</option>
                                <option disabled>Cochrane Library</option>
                                <option disabled>EMBASE</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-link" onclick="resultsView()" type="button">
                            Results <i class="icon icon-arrow-right"></i>
                        </button>
                        <button class="btn btn-link" onclick="editView()" type="button">
                            Edit <i class="icon icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div v-if="tabEditor===1">
                <div style="position: absolute; height: calc(100% - 77px); display: flex; flex-direction: column; width:33.33333333%">
                    <div style="display: flex; flex: 1;min-height: 0">
                        <div style="flex: 1; overflow: auto">
                            <div style="">
                                <ied v-bind:query="cqrQuery" v-model="cqrQuery" style=""></ied>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="column col-8">
            <ul class="tab tab-block bg-gray">
                <li class="tab-item" v-bind:class="{active: tabVisualise===0}" v-on:click="tabVisualise=0">
                    <a href="#">Tree View</a>
                </li>
                <li class="tab-item" v-bind:class="{active: tabVisualise===1}" v-on:click="tabVisualise=1">
                    <a href="#">Overlap Visualisation</a>
                </li>
                <li class="tab-item" v-bind:class="{active: tabVisualise===2}" v-on:click="tabVisualise=2">
                    <a href="#">Console</a>
                </li>
            </ul>
            <div id="tree-wrapper" v-show="tabVisualise===0">
                <div id="tree-stats" v-if="numRet">
                    <p><strong>[[ numRet ]]</strong> citations retrieved</p>
                </div>
                <div id="tree" class="c-move"></div>
            </div>
            <div id="tree-wrapper" v-show="tabVisualise===1">
                <venn-diagram v-bind:sets="sets" v-model="sets"></venn-diagram>
            </div>
            <div id="tree-wrapper" v-show="tabVisualise===2">
                <pre id="console">Loading...</pre>
                <a href="#" id="console-pause" class="btn btn-primary"
                   style="position: absolute;bottom: 32px;right: 32px;">Pause</a>
            </div>
        </div>
    </div>
</div>

<!-- Venn diagram components.  -->
<script src="static/d3.v4.min.js" type="text/javascript"></script>
<script src="static/venn.min.js" type="text/javascript"></script>

<script type="text/x-template" id="venn-diagram">
    <div></div>
</script>

<!-- Structured Query Editor components. -->
<script type="text/x-template" id="bool-query">
    <div class="panel mb-1">
        <div class="panel-header">
            <span class="text-uppercase text-bold">[[query.operator]]</span>
        </div>
        <div class="panel-body">
            <draggable v-model="query.children" :options="{group: 'children'}" style="min-height: 16px"
                       @change="updateText">
                <ied v-bind:query="child" v-for="child in query.children" class="c-move"></ied>
            </draggable>
        </div>
        <div class="panel-footer">
            <button class="btn btn-link btn-sm" v-on:click="addKeyword">
                <i class="icon icon-plus"></i> Keyword
            </button>
            <button class="btn btn-link btn-sm" v-on:click="addBool">
                <i class="icon icon-plus"></i> Child
            </button>
        </div>
    </div>
</script>
<script type="text/x-template" id="keyword-query">
    <div class="tile tile-centered rounded m-1 pl-1 pt-1 bg-secondary ">
        <div class="tile-icon">
            <input type="checkbox" title="Include in overlap visualisation" v-model="selected">
        </div>
        <div class="tile-content">
            <div class="tile-title">
                <!--suppress HtmlUnknownAttribute -->
                <input title="Query string" class="form-input input-sm" type="text" v-model="query.query"
                       ref="query" v-on:change="updateText">
            </div>
            <div class="btn-group btn-group-block">
                <label v-for="field in fields" class="small btn btn-sm" v-bind:class="{ 'btn-primary' : field.checked }"
                       v-bind:for="[[ id + field.fancy ]]">[[field.fancy]]
                    <input v-bind:id="[[ id + field.name ]]" type="checkbox" v-bind:value="[[field.name]]"
                           v-model="field.checked" v-bind:title="[[field.name]]" style="display:none;">
                </label>
            </div>
            <div class="btn-group">
                <span class="structured-check btn-group btn-group-block">
                    <label v-bind:for="[[ id ]]">exploded?
                        <input v-bind:id="[[ id ]]" type="checkbox" v-bind:value="exploded"
                               v-model="query.options.exploded" v-bind:title="exploded">
                    </label>
                </span>
            </div>
        </div>
        <div class="tile-action">
            <button class="btn btn-link btn-sm ">
                <i class="icon icon-cross text-error"></i>
            </button>
        </div>
    </div>
</script>
<script type="text/x-template" id="ied">
    <div v-if="query.operator">
        <bool-query v-bind:query="query"></bool-query>
    </div>
    <div v-else-if="query.fields">
        <keyword-query v-bind:query="query"></keyword-query>
    </div>
    <div v-else>
        <div class="empty">
            <div class="empty-icon">
                <i class="icon icon-flag"></i>
            </div>
            <p class="empty-title h5">Error</p>
            <p class="empty-subtitle">There is an error with the query. Use the text editor to resolve.</p>
        </div>
    </div>
</script>


<!-- Main app code. -->
<script src="static/vue.js" type="text/javascript"></script>
<script type="text/javascript" src="static/lodash.min.js"></script>
<script src="static/Sortable.min.js"></script>
<script src="static/vuedraggable.min.js"></script>
<!--suppress JSUnusedGlobalSymbols -->
<script>
    var updateText = function () {
        var data = JSON.stringify(vm.$data.cqrQuery);
        var request = new XMLHttpRequest();
        request.addEventListener("load", function (ev) {
            if (ev.currentTarget.status === 200) {
                vm.$data.textQuery = ev.currentTarget.responseText
            }
        });
        request.open("POST", "/api/cqr2query");
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send("query=" + data + "&lang=" + vm.$data.queryLanguage);
    };

    var structuredID = 0;
    var vennSelected = {};
    Vue.component("ied", {
        delimiters: ["[[", "]]"],
        template: "#ied",
        props: ["query"],
        data: function () {
            return {
                id: structuredID++
            }
        },
        methods: {
            updateText: updateText
        }
    });
    Vue.component("bool-query", {
        delimiters: ["[[", "]]"],
        template: "#bool-query",
        props: ["query"],
        data: function () {
            return {
                id: structuredID++
            }
        },
        methods: {
            updateText: updateText,
            addBool: function () {
                this.query.children.push({
                    operator: "or",
                    children: [],
                    options: {}
                })
            },
            addKeyword: function () {
                this.query.children.push({
                    query: "",
                    fields: [],
                    options: {}
                })
            }
        }
    });
    Vue.component("keyword-query", {
        delimiters: ["[[", "]]"],
        template: "#keyword-query",
        props: ["query"],
        data: function () {
            return {
                id: structuredID++,
                selected: false,
                fields: [
                    {name: "title", checked: false, fancy: "ti"},
                    {name: "text", checked: false, fancy: "ab"},
                    {name: "mesh_headings", checked: false, fancy: "sh"},
                    {name: "publication_types", checked: false, fancy: "pt"},
                    {name: "pubdate", checked: false, fancy: "pd"}
                ],
                exploded: false
            }
        },
        methods: {
            updateText: updateText
        },
        mounted: function () {
            if (!("exploded" in this.$props.query.options)) {
                this.$props.query.options.exploded = false;
            }
            for (var i = 0; i < this.fields.length; i++) {
                for (var j = 0; j < this.$props.query.fields.length; j++) {
                    if (this.fields[i].name === this.$props.query.fields[j]) {
                        this.fields[i].checked = true;
                        break;
                    }
                }
            }
            this.$refs.query.focus();
        },
        watch: {
            exploded: function () {
                this.$props.query.options.exploded = this.exploded;
            },
            fields: {
                handler: function () {
                    this.$props.query.fields = [];
                    for (var i = 0; i < this.fields.length; i++) {
                        if (this.fields[i].checked) {
                            this.$props.query.fields.push(this.fields[i].name);
                        }
                    }
                    updateText();
                },
                deep: true
            },
            selected: function (val) {
                if (val) {
                    vennSelected[this.id] = JSON.stringify(this.query)
                } else {
                    delete vennSelected[this.id]
                }
            }
        }
    });
    Vue.component("venn-diagram", {
        template: "#venn-diagram",
        props: ["sets"],
        data: function () {
            return {
                chart: venn.VennDiagram()
            }
        },
        mounted: function () {
            // console.log(this.sets)
            var div = d3.select(this.$el);
            div.datum(this.sets).call(this.chart);
            var tooltip = d3.select("body").append("div")
                    .attr("class", "venntooltip");
            div.selectAll("path")
                    .style("stroke-opacity", 0)
                    .style("stroke", "#333")
                    .style("stroke-width", 3);
            d3.select(this.$el).selectAll("g").on("mouseover", function (d, i) {
                // sort all the areas relative to the current item
                venn.sortAreas(div, d);

                // Display a tooltip with the current size
                tooltip.transition().duration(400).style("opacity", .9);
                tooltip.text(d.size + " citations");

                // highlight the current path
                var selection = d3.select(this).transition("tooltip").duration(400);
                selection.select("path")
                        .style("stroke-width", 3)
                        .style("fill-opacity", d.sets.length === 1 ? .4 : .1)
                        .style("stroke-opacity", 1);
            }).on("mousemove", function () {
                tooltip.style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
            }).on("mouseout", function (d, i) {
                tooltip.transition().duration(400).style("opacity", 0);
                var selection = d3.select(this).transition("tooltip").duration(400);
                selection.select("path")
                        .style("stroke-width", 0)
                        .style("fill-opacity", d.sets.length === 1 ? .25 : .0)
                        .style("stroke-opacity", 0);
            });
        }
    });

    var vm = new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",
        data: {
            tabEditor: 0,
            tabVisualise: 0,
            numRet: null,
            textQuery: "{{.QueryString}}",
            queryLanguage: "{{.Language}}",
            cqrQuery: {},
            vennSelected: vennSelected,
            sets: [{sets: ['fraenectom~.mp.'], size: 5012},
                {sets: ['orthodontic~.mp.'], size: 227669},
                {sets: ['fraenectom~.mp.', 'orthodontic~.mp.'], size: 412},
                {sets: ['exp ORTHODONTICS/'], size: 151659},
                {sets: ['exp ORTHODONTICS/', 'orthodontic~.mp.'], size: 100524}
            ]
        },
        methods: {
            updateTree: function (ev) {
                var self = this
                var el = ev.srcElement;
                el.classList.add("loading");
                var request = new XMLHttpRequest();
                request.addEventListener("load", function (ev) {
                    var resp = JSON.parse(ev.target.responseText);
                    network.setData(resp);
                    for (var i = 0; i < resp.nodes.length; i++) {
                        if (resp.nodes[i].id == 1) {
                            self.numRet = resp.nodes[i].value
                        }
                    }
                    el.classList.remove("loading");
                });
                request.open("POST", "/api/tree", true);
                request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                request.send("query=" + this.textQuery + "&lang=" + this.queryLanguage);
            },
            updateText: _.debounce(function () {
                var self = this;
                var request = new XMLHttpRequest();
                request.addEventListener("load", function (ev) {
                    if (ev.currentTarget.status === 200) {
                        self.cqrQuery = JSON.parse(ev.currentTarget.responseText)
                    }
                });
                request.open("POST", "/api/query2cqr");
                request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                request.send("query=" + self.textQuery + "&lang=" + self.queryLanguage);
            }, 300)
        },
        mounted: function () {
            this.updateText();
        },
        watch: {
            vennSelected: function () {
                console.log(this.vennSelected)
            },
            // Do not continue to update the log when we are not in the console tab.
            tabVisualise: function (val) {
                if (val === 2) {
                    ConsoleInitial = setTimeout(GetLog, ConsolePoll)
                } else {
                    clearTimeout(ConsoleInitial)
                }
            }
        }
    })
</script>

<!-- Tree view. -->
<script src="static/vis.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([]);

    // create an array with edges
    var edges = new vis.DataSet([]);

    // create a network
    var container = document.getElementById('tree');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        physics: {
            enabled: true,
            hierarchicalRepulsion: {
                nodeDistance: 200
            }
        },
        edges: {
            font: {
                align: "top"
            },
            smooth: {
                enabled: true,
                type: "dynamic"
            },
            scaling: {
                label: {
                    enabled: true,
                    min: 25,
                    max: 30
                }
            }
        },
        nodes: {
            shape: "box",
            color: "#CED2FF",
            font: {
                color: "#333333"
            },
            scaling: {
                customScalingFunction: function (min, max, total, value) {
                    return value / total;
                },
                min: 60,
                max: 100,
                label: {
                    enabled: true,
                    min: 25,
                    max: 30
                }
            },
            widthConstraint: true
        },
        layout: {
            hierarchical: {
                enabled: true,
                blockShifting: false,
                edgeMinimization: true,
                parentCentralization: true,
                nodeSpacing: 10,
                levelSeparation: 250
            }
        }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>

<!-- Console view. -->
<script src="static/jquery.min.js" type="text/javascript"></script>
<script src="static/logtail.js" type="text/javascript"></script>

<script type="text/javascript">
    var editView = function () {
        var form = document.createElement("form");
        form.target = "_self";
        form.method = "POST";
        form.action = "/transform";
        form.style.display = "none";

        var queryInput = document.createElement("input");
        queryInput.type = "hidden";
        queryInput.name = "query";
        queryInput.value = document.getElementById("search-box").value;
        form.appendChild(queryInput);

        var langInput = document.createElement("input");
        langInput.type = "hidden";
        langInput.name = "lang";
        langInput.value = document.getElementById("lang").value;
        form.appendChild(langInput);

        document.body.appendChild(form);
        form.submit();
    };

    var resultsView = function () {
        var form = document.createElement("form");
        form.target = "_self";
        form.method = "POST";
        form.action = "/query";
        form.style.display = "none";

        var queryInput = document.createElement("input");
        queryInput.type = "hidden";
        queryInput.name = "query";
        queryInput.value = document.getElementById("search-box").value;
        form.appendChild(queryInput);

        var langInput = document.createElement("input");
        langInput.type = "hidden";
        langInput.name = "lang";
        langInput.value = document.getElementById("lang").value;
        form.appendChild(langInput);

        document.body.appendChild(form);
        form.submit();
    };
</script>
</body>
</html>